:root {
    --gray: #3E3E3E;
    --gray-hover: #2F2F2F;
    --lighter-gray: #AAAAAA;
    --light-gray: #8E8E8E;
    --light-gray-hover: #6C6C6C;
    --blue: #3BA3FF;
    --blue-hover: #207CD0;
    --discord-blurple: #5865F2;
    --bg-dark-btn: #131B20;
    --bg-dark-secondary: #212E37;
    --bg-dark: #0E1418;
    --bg-darker: #06090B;
    --navbar-height: 80px;
    --full-height-with-navbar: calc(100vh - var(--navbar-height));
}

body {
    margin: 0px;
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
    background-color: var(--bg-darker);
    height: 100%;
}

@mixin clickable {
    cursor: pointer;
}

.clickable {
    @include clickable;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

* {
    color: white;
    box-sizing: border-box;
}

a {
    /* Fixed buttons overlapping other elements */
    display: inline-block;
    font-size: 1em;
}

#app {
    font-family: 'Open Sans', sans-serif;
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    min-height: 100%;
    /* color: #2c3e50; */
}

.header {
    padding: 2rem;
    background-color: var(--bg-dark);
}

.rounded-icon {
    border-radius: 30%;
}

button.btn, a.btn {
    @extend .unselectable;

    font-size: 1em;
    line-height: 1.5;
    padding: 1.2rem 1.6rem;
    border: 0;
    border-radius: 100rem;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: opacity .5s ease-in-out,background-color .2s ease-in-out,transform .05s ease-in-out,outline .2s ease-in-out,color .2s ease-in-out;
    .guild:hover > .guild-info > .guild-action > .btn, &:hover {
        cursor: pointer;
        background-color: var(--blue-hover);
    }
    &.primary {
        background-color: var(--blue);
        &:hover {
            cursor: pointer;
            background-color: var(--blue-hover);
        }
    }
    &.info {
        background-color: var(--gray);
        &:hover {
            cursor: pointer;
            background-color: var(--gray-hover);
        }
    }
    &.small {
        font-size: 0.9em;
        padding: 0.8rem 1rem;
    }
}

code {
    font-size: 82.5%;
    color: var(--light) !important;
    background-color: var(--gray-dark);
    padding: .2em .4em;
    border-radius: 6px;
}

@mixin flex {
    display: flex;
}

.flex-row {
    @include flex;

    flex-direction: row;
}

.flex-col {
    @include flex;

    flex-direction: column;
}

.flex-v-center {
    @include flex;

    align-items: center;
}

.flex-h-center {
    @include flex;

    justify-content: center;
}

.flex {
    display: flex;
}

.v-center {
    align-items: center;
}

.h-center {
    justify-content: center;
}

.flex-grow {
    flex-grow: 1;
}

.position-relative {
    position: relative !important;
}

.dropdown[open] > summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
    display: block;
    cursor: default;
    content: " ";
    background: transparent;
}

.dropdown > summary {
    list-style: none;
    &:hover {
        @include clickable;
    }
    .ic {
        margin-left: 0.2rem;
    }
    &:hover > .ic {
        filter: brightness(0.9);
    }
}

.dropdown[open] > summary > .ic {
    rotate: 180deg;
}

.dropdown-menu {
    margin-top: 0.8rem;
    border: 1px solid var(--bg-dark-secondary);
    border-radius: 0.5rem;
    padding-block: 0.5rem;
    left: auto;
    right: 0;
    position: absolute;
    z-index: 1000;
    background-color: var(--bg-dark)!important;
    [disabled] {
        @extend .unselectable;
        color: var(--light-gray);
        background-color: var(--bg-dark)!important;
    }
    .dropdown-divider {
        color: var(--bg-dark-secondary);
        border-top: 1px solid var(--bg-dark-secondary);
        border-bottom: 0px;
    }
    .dropdown-item {
        * {
            border-radius: 0px !important;
        }
        .btn {
            background-color: inherit;
            &:hover {
                background-color: var(--blue);
            }
        }
        color: white!important;
    }
}

.navbar {
    height: var(--navbar-height) !important;
    top: 0;
    position: sticky;
    overflow: visible;
    background-color: var(--bg-dark);
    display: flex;
    padding: 1rem;
    padding-inline: 2rem;
    z-index: 2;
}

.navbar .nav-item {
    padding-inline: 5px;
    display: flex;
    align-items: center;
}

.full-w {
    width: 100%;
}

.full-h {
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -1rem;
}

.col-4, .col-6, .col-12 {
    width: 100%;
    padding-inline: 1rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.icon {
    aspect-ratio: 1 / 1;
    padding: 1rem;
    background: var(--bg-dark-secondary);
    border-radius: 1rem;
}

.t-align-s {
    text-align: start;
}

.card {
    background-color: var(--bg-dark);
    border-radius: 1rem;
    margin-bottom: 2rem;
    > *:not([full-w]) {
        margin-inline: 1.5rem;
    }
    .card-title, .card-content, .card-body {
        @include flex;
    }
    .card-title > * {
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .card-content {
        padding-block: 2rem;
    }
}

.bot-gap-2 {
    margin-bottom: 1rem;
}

.input {
    @extend .flex-col;
    background: var(--bg-dark-secondary);
    border-radius: 1rem;
    padding-top: 0.8rem;
    span#label {
        @extend .unselectable;
        margin-inline: 1rem;
        font-size: 0.8em;
        font-weight: 700;
        text-align: start;
    }
    input[type="text"] {
        @extend .full-h;
        font-size: 1em;
        font-weight: 300;
        background: transparent;
        border: 0;
        box-shadow: none !important;
        outline: none;
        padding-inline: 1rem;
        padding-top: 0.4rem;
        padding-bottom: 0.8rem;
    }
}

.dsc-embed {
    @extend .full-w;
    border-left: 4px solid blue;
    background: #2B2D31;
    border-radius: 4px;
    text-align: start;
    .dsc-grid-container {
        .dsc-grid {
            display: grid;
            padding: 0.5rem 1rem 1rem 0.75rem;
            overflow: hidden;
            .dsc-embed-margin {
                margin-top: 8px;
            }
        }
    }
}
