@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --gray: #3E3E3E;
    --light-gray: #8E8E8E;
    --light-gray-hover: #6C6C6C;
    --blue: #3BA3FF;
    --blue-hover: #2488E1;
    --discord-blurple: #5865F2;
    --bg-dark: #0E1418;
}

html {
    scroll-behavior: smooth;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

* {
    box-sizing: border-box;
}

a {
    /* Fixed buttons overlapping other elements */
    display: inline-block;
    line-height: 1;
    font-size: 1em;
}

#app {
    font-family: 'Open Sans', sans-serif;
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    /* color: #2c3e50; */
}

.navbar {
    display: flex;
    margin: 14px;
    border-radius: 14px;
}

.rounded-icon {
    border-radius: 30%;
}

button.btn, a.btn {
    @extend .unselectable;

    padding: 1.2rem 1.4rem;
    border-radius: 1rem;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: opacity .5s ease-in-out,background-color .2s ease-in-out,transform .05s ease-in-out,outline .2s ease-in-out;
    &:hover {
        cursor: pointer;
        background-color: var(--blue-hover);
    }
    &.primary {
        background-color: var(--blue);
        &:hover {
            cursor: pointer;
            background-color: var(--blue-hover);
        }
    }
    &.info {
        background-color: var(--light-gray);
        &:hover {
            cursor: pointer;
            background-color: var(--light-gray-hover);
        }
    }
}

code {
    font-size: 82.5%;
    color: var(--light) !important;
    background-color: var(--gray-dark);
    padding: .2em .4em;
    border-radius: 6px;
}
